* {
    box-sizing: border-box;
}

html{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}
html, body {
    min-height: 100%;
}

h1 {
    font-size: 300%;
    word-wrap: break-word;
}

body {
    margin: 0;
    background: url(giphy.gif);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#subhead {
    text-align: center;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    flex-shrink: 10;
}

.child-container {
    border-style: groove;
    border-radius: 10%;
    border: 3px solid white;
    padding: 3% 3% 5% 3%;
    background-color: #0C63AE;
    opacity: 0.9;
}


.button {
    background-color: #666666;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    border-style: groove;
    border-radius: 10%;
    border: 2px solid white;
    font-size: 16px;
    padding: 10px 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


.button:hover {
    background-color: white; 
    color: #666666;
}
